<!DOCTYPE html>
<html>
  <head>
    <title>Recipes on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Recipe Repository</h1>
        <p>
          <%= link_to 'Home', root_path %> |
          <%= link_to 'Recipes', recipes_path %> |
          <%= link_to 'Menus', menus_path %> |
          <%= link_to 'Ingredients', ingredients_path %> |
          <%= link_to 'Foodgroups', foodgroups_path %>
        </p>
      </header>
      <%= yield %>
    <footer>
      <%= link_to 'Home', root_path %>
      <br>
      Copywrong RecipesOnRailsx 2020
    </footer>
    </div>
  </body>
</html>
